<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>821925231138-5q6to1sp8os4mb1j4ltt1mf5il1c987d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.821925231138-5q6to1sp8os4mb1j4ltt1mf5il1c987d</string>
	<key>API_KEY</key>
	<string>AIzaSyARPsx7XbnqWL3YqjriYNQG84Lca67rCf0</string>
	<key>GCM_SENDER_ID</key>
	<string>821925231138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.appbrewery.In-the-Zone</string>
	<key>PROJECT_ID</key>
	<string>in-the-zone-fa360</string>
	<key>STORAGE_BUCKET</key>
	<string>in-the-zone-fa360.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:821925231138:ios:6185ab7321d7541ef0287b</string>
</dict>
</plist>